<nav class="container mx-auto flex items-center justify-between py-4">
    <div>
        <img src="/img/logo.png">
    </div>
    <div>
        <ul class="flex items-center">
        <li class="ml-6"> <a href="/">Menu</a></li>
        <li class="ml-6"> <a href="/customer/orders">Orders</a></li>
        <li class="ml-6"> <a href="/logout">Logout</a></li>
        <li class="ml-6"><a href="/cart" class="inline-block py-2 px-4 rounded-full flex items-center">
            <span id="show-qty" class="text-white font-bold pr-2"><%= session.cart ? session.cart.totalqty : '' %></span>
            <img src="/img/cart.png"></a></li>
        </ul>
    </div>
</nav>